rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 임시로 완전 공개 (템플릿 업로드 후 다시 제한)
    match /{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
  }
} 